<h1>Security Alert</h1>
<p>Hello {{name}},</p>
<p>Your account has been locked due to 5 failed login attempts.</p>
<p>It will remain locked for 15 minutes.</p>
<p>If this wasn't you, please contact support immediately.</p>